<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FileTP</title>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
	<div class="container">
		<div class="actions-container">
			<div class="form-card">
				<form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
					<div class="form-group">
						<input type="file" name="fileKey" class="file-input">
						<input type="submit" value="Upload">
					</div>
				</form>
			</div>

			<div class="form-card">
				<form id="createDir" action="/create_dir" method="POST">
					<div class="form-group">
						<input type="text" name="dirname" required placeholder="Directory name">
						<button type="submit">Create</button>
					</div>
				</form>
			</div>
		</div>

		{{if .Files}}
		<table class="file-table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Size</th>
					<th>Owner</th>
					<th>Create Date</th>
				</tr>
			</thead>
			<tbody>
				{{range .Files}}
				<tr>
					<td data-label="Name">
						<a href="{{.LinkTarget}}">
							{{.Path | baseName}}{{if eq .Type "directory"}}/{{end}}
						</a>
					</td>
					<td class="file-size" data-label="Size">{{if eq .Type
						"directory"}}-{{else}}{{.Size |
						formatSize}}{{end}}</td>
					<td data-label="Owner">{{.User}}</td>
					<td data-label="Create Date">{{.CreatedAt.Format "02 Jan 2006 15:04"}}</td>
				</tr>
				{{end}}
			</tbody>
		</table>
		{{else}}
		<div class="empty-message">No files found in this directory</div>
		{{end}}
	</div>

	<script src="/static/js/script.js"></script>
</body>

</html>
